/* 
==========================================================================================
Name: Khabriyanews 
Version: 1.0.0
Developed By: UTESH TECHNOLOGIES (http://utglobe.com)
==========================================================================================
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

/* Colors */
:root {

    /* Main Colors */
    --p-color: rgb(4, 11, 106);
    --p-color-dark: rgb(3, 5, 56);
    --s-color: rgb(215, 8, 8);

    --newsBox-color-hover: rgb(215, 8, 8, .5);


    /* Breaking News Box Colors */

    --breakingNews-gradient: linear-gradient(to bottom, rgb(159, 1, 0, 1) 50%, rgb(248, 9, 9)100% );


    /* News Area  */
    --background-image : url(../images/main_bg/main_bg.jpg) no-repeat;
    --newsArea-overlay-color : rgba(4,11,106, .7);
    
    
    /* Font Families */

}



body {
    font-family: 'ZCOOL XiaoWei';
    letter-spacing: 2.5px;
}

/* extras */
.modal {
    z-index: 999999999999999999999999999;
}

/* effects */

.main-container {
    transition: all .3s ease;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

/* ================================================================================ */
/* subscribe us */
/* ================================================================================ */

.subscribe_us {
    position: fixed;
    z-index: 999999;
    top: 50%;
    background: var(--breakingNews-gradient);
    color: #fff;
    padding: .6rem;
    border: 1px rgb(255, 0, 0) solid;
    writing-mode: vertical-lr;
    cursor: pointer;
    /* text-orientation: mixed; */
    
}

.subscribe_us p {
    padding: 0;
    margin: 0;
    
}

@media (max-width: 478px) {
    .subscribe_us {
        padding: .2rem 0;
    }
}

/* ================================================================================= */
/* subscribe us modal input */
/* ================================================================================= */
.sub_box {
    display: flex;
    flex-wrap: nowrap;

}

.sub_box input.subscribe_e {
    border: none;
    width: 100%;
    background: rgb(248, 248, 248);
    padding: .8rem;
}

.sub_btn {
    border: none;
    background: var(--s-color);
    color: #fff;
}



/*=====================Main Header Top==============================*/
.main-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.email {
    color: black;
    font-weight: bold;
    transition: color ease .3s;
}

.email:hover {
    color: var(--s-color);
    text-decoration: none;
}

.date_time {
    font-weight: bold;
}

@media (max-width: 478px) {
    .email {
        display: none;
    }
    .date_time {
        font-size: .8rem;
        display: flex;
        flex-direction: column;
    }
}


/*=====================Breaking News==============================*/ 
#breakingNews {
    background: var(--breakingNews-gradient);
    position: sticky;
    top: 0;
    z-index: 999;
}

.breakingNewsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .8rem 0;
    color: #fff;
}

.breakingNewsDiv .breakingNews__box {
    
}

.breakingNewsDiv .breakingNews__box--title {
    margin: 0;
    font-weight: 700;
}

.breakingNewsDiv p {
    font-size: 1rem;
    margin: 0;
    
}


.marquee {
    width: 80%;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* pointer-events: none; */
    
    cursor: pointer;
}


@media (max-width: 478px) {
    .breakingNewsDiv .breakingNews__box--title {
       font-size: .8rem;
        font-weight: 700;
    }
}

/* ===================================News Area=================== */
#newsArea {
    background: var(--background-image);
    background-size: cover; 
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
}

#newsArea::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--newsArea-overlay-color);
    z-index: -1;
}

#newsArea ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#newsArea ul li a {
    text-decoration: none;
}

#newsArea ul li a:hover .newsbox {
    background: var(--newsBox-color-hover);
    transition: all .3s ease-in;
    transform: scale(1.03) rotate(05deg);
}
#newsArea ul li a:hover .newsbox .newsbox_heading {
    transition: all .3s ease-in;
    transform:  rotate(-05deg);
}

.newsbox {
    /* background-color: #d70808; */
    width: 110px;
    height:110px;
    border-radius: 100%;
    border: 2px dashed rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;

}

.newsbox_heading {
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}


@media (max-width: 478px) {
    .newsbox {
        margin-top: 1rem;
        width: 100px;
        height: 100px;
        border: 1.5px dashed rgb(255, 255, 255);
        margin: 1rem;
    }

    .newsbox .newsbox_heading {
        font-size: .8rem;
    }
}


@media (min-width: 478px) {
    .newsbox {
        /* margin-top: 1rem 1rem; */
        width: 130px;
        height: 130px;
        border: 1px dashed rgb(255, 255, 255);
    }

    .newsbox .newsbox_heading {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    .newsbox {
        /* margin-top: 1rem 1rem; */
        width: 170px;
        height: 170px;
        border: 2px dashed rgb(255, 255, 255);
    }

    .newsbox .newsbox_heading {
        font-size: 1.2rem;
    }
}

@media (min-width: 990px) {
    .newsbox {
        /* margin-top: 1rem 1rem; */
        width: 220px;
        height: 220px;
        border: 2px dashed rgb(255, 255, 255);
        font-size: 2rem;
    }
    .newsbox .newsbox_heading {
        font-size: 1.5rem;
    }
}










/* ========================= Page Area ============================ */
#pageArea {
    background: var(--background-image);
    background-size: cover; 
    position: relative;
    z-index: 1;
    padding: 1rem 0;
}

#pageArea::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--newsArea-overlay-color);
    z-index: -1;
}

/* Small Links */
.small_links  {
   padding: 1rem 0;
}

.small_links ul  {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding-right: 0;
    /* padding: .5rem; */
}

.small_links ul li {
    position: relative;
}

.small_links ul span {
    color: #fff;
    padding: 0 .5rem;
}

.small_links ul li a {
    color: #fff;
    position: relative;
}

.act {
    color: var(--s-color) !important;
}

/* paginations */
.p_pagination {
    width: 60%;
    /* background: #fff; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.p_pagination .arrow-left,
.p_pagination .arrow-right {
    cursor: pointer;
    transition: all .3s ease;
}

.p_pagination .arrow-left:hover,
.p_pagination .arrow-right:hover {
    transform: translateX(-5px);
}

.p_pagination img {
    width: 50px;
}

.link-title {
    color: #fff;
    position: relative;
    
}

.link-title h4 {
    padding: 0 1.8rem;
    font-size: 2rem;
}



.link-title::before,
.link-title::after {
    content: '!!';
    position: absolute;
    color: var(--s-color);
    font-family: 'ZCOOL XiaoWei';
    font-size: 2rem;
    top: -5px !important;
    
}

.link-title::before {
  
    left: 0;
}

.link-title::after {
    
    right: 0;
}

/* NewsArticles */
#newArticle {
    background: var(--p-color-dark);
    padding: .8rem 0;
}

.newsArticle__Box:not(:first-child) {
    margin-top: 1.5rem;
}

.newsArticle__Box .newsArticle__Title {    
    color: #fff;
    font-weight: 500;
}

.newsArticle__Box .newsArticleContent__Box {

    border-top: 1px solid #fff;
    color: #fff;
    font-size: .8rem;
    border-bottom: 1px solid #fff;
    padding: .5rem 0;

    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.newsArticle__Box .newsArticleContent__Box .newsArticle__Imgbox {
    margin-right: 1rem;
}

.share_social_links  {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
}

.share_social_links ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.share_social_links ul li a {
    padding: .2rem;
}

.share_social_links ul li a img {
    width: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
    #pageArea{
        padding: 1rem;
    }
    
    .small_links ul li a {
        font-size: .6rem;
    }

    .newsArticle__Box .newsArticleContent__Box .newsArticle__Imgbox img {
        width: 100px;
    }

    .newsArticle__des p {
        font-size: .7rem;
    }

}


@media (max-width: 768px) {
    .p_pagination {
        width: 70%;
    }


    .link-title h4 {
        padding: 0 1.6rem;
        font-size: 1.5rem;
    }

}
@media (max-width: 530px) {
    .p_pagination {
        width: 80%;
    }
    
    .p_pagination img {
        width: 30px;
    }
    .link-title::before {
        top: -5px !important;
        left: 0;
        font-size: 1.5rem !important;
    }

    .link-title::after {
        top: -5px !important;
        right:  0;
        font-size: 1.5rem !important;
    }

    .link-title h4 {
        padding: 0 1rem;
        font-size: 1.2rem;
    }

}

@media (max-width: 400px) {

    .small_links {
        display: none;
    }

    .p_pagination {
        width: 100%;
    }

    .link-title h4 {
        font-size: 1rem !important;
    }

    .link-title::before {
        font-size: 1rem !important;
        top: -1px !important;
    }
    .link-title::after {
        font-size: 1rem !important;
        top: -1px !important;
    }

    .newsArticleContent__Box {
        flex-direction: column !important;
    }

    .newsArticle__Title {
        font-size: .7rem;
    }
    .newsArticle__des p {
        font-size: .6rem;
        margin-top: .8rem;
    }
}


@media (min-width: 450px) {
    
    .newsArticle__Imgbox img {
        max-width: 250px;
    }
}


@media (max-width: 500px) {
    /* .newsArticleContent__Box {
        flex-direction:column;
    } */

    .newsArticle__Imgbox img {
        max-width: 150px;
    }
}
@media (max-width: 400px) {
    .newsArticleContent__Box {
        flex-direction:row;
    }

    .newsArticle__Imgbox img {
        max-width: 150px;
    }
}


